.footer{
    font-size: x-small;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: right;
    bottom: 0px;
    position: fixed;
    height: 33px;
    font-size: larger;
    background-color: pink;
    width: 100%;
}

.creator{
    float: left;
}
.rawg-link{
    float: right;
}