

  <div class="login" [ngStyle]="{'background-image': 'url(' + currentBackground + ')'}" >
    <h2 class="login-header">Login</h2>
    <div class= "boxbackground" >
    <form [formGroup]="loginForm" class="login-container" id="loginbox" (ngSubmit)="login()"  >
  
      <p [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
        <input class="textbox" type="email" placeholder="Email" formControlName="email">
      </p>
  
      <div *ngIf="isSubmitted && formControls.email.errors" class="help-block">
        <div *ngIf="formControls.email.errors.required">Email is required</div>
      </div>
  
      <p [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
        <input class="textbox" type="password" placeholder="Password" formControlName="password">
      </p>
  
      <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
        <div *ngIf="formControls.password.errors.required">Password is required</div>
      </div>
  
      <p>
        <input type="submit" value="Log in">
      </p>
      
    </form>
    <a routerLink="/register" class="registerbutton">Register</a>

  </div>
  </div>