<div class="gameModal">
<div class="modal-header">
    <h4 class="modal-title">{{game.name}}</h4>
      <span aria-hidden="true">&times;</span>
  </div>
  <div class="modal-body">
    <img id="headerImage" src={{game.background_image}} alt="header image">
    <p>Release date: {{game.released}}</p>
    <p *ngIf="game.metacritic">Metacritic score: {{game.metacritic}}</p>
    <div innerHTML="{{game.description}}"></div>
    <h4>Similar Games</h4>
    <div *ngFor="let similarGame of similarGames">
      <h5>{{similarGame.name}}</h5>
      <button class="btn btn-link" (click)="close();open(similarGame.id)">
      <img id="similarGameImage" src={{similarGame.background_image}} alt="similar game image"></button>
  </div>
  </div>
  <div class="modal-footer">
    Powered by 
    <a href="https://rawg.io/" target="_blank">RAWG Video Game Database</a>
  </div>
</div>