<nav class="navbar navbar-light">
  <a class="navbar-brand" href="#">
    <img class="rosygaminglasseslogo"
      src="https://github.com/rond556/RosyGamingGlassesFrontEnd/blob/dev/src/assets/RosyGamingLogo.png?raw=true">
  </a>
  <nav class="gamedisplayrouter">
    <a routerLink="/game-display">
      <img class="gamedisplay button"
        src="http://www.videogamesprites.net/FinalFantasy6/Party/Mog/Mog%20(Front).gif">
    </a>
  </nav>
  <a class="user-link" href="/userpage">
    <img class="userlink"
      src="https://github.com/rond556/RosyGamingGlassesFrontEnd/blob/dev/src/assets/Lucca%20-%20Status.png?raw=true">
  </a>
</nav>


<router-outlet></router-outlet>