.navbar{
    background-color: pink;
}

.navbar-brand{
    background-color: white; 
    border-radius: 25px;
    padding: 20px;
    border-color: plum;
    border-style: solid;
}

.profile-link{
    background-color: white;
    border-radius: 25px;
    padding: 10px;
    border-color: plum;
    border-style: solid;
}

.menuoptions a {
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
    background-image: #eee;
    border-radius: 4px;
  }

.menuoptions a:visited, a:link {
    color: #334953;
  }

.menuoptions a:hover {
    background-image: url("https://i.pinimg.com/originals/36/a3/cf/36a3cffbccd05e21336c4e418fe3d0e4.gif");
    color: palevioletred;
  text-shadow:10px 10px 30px plum;
  box-shadow: 0px 0px 60px 30px palevioletred;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  }

  .navbar-search{
      background-color: whitesmoke;
  }