<nav class="navbar navbar-light">
  <a class="navbar-brand" href="#">
    <img class="rosygaminglasseslogo"
      src="https://github.com/rond556/RosyGamingGlassesFrontEnd/blob/dev/src/assets/RosyGamingLogo.png?raw=true">
  </a>
  <a class="user-link" href="/userpage">
    <img class="userlink"
      src="https://github.com/rond556/RosyGamingGlassesFrontEnd/blob/dev/src/assets/Lucca%20-%20Status.png?raw=true">
  </a>
</nav>


<nav class="navbar navbar-light bg-light">

  <button class="yearbutton" onclick="tenYearsOld()">When You Were Ten</button>
  <button class="yearbutton" onclick="elevenYearsOld()">When You Were Eleven</button>
  <button class="yearbutton" onclick="twelveYearsOld()">When You Were Twelve</button>
  <button class="yearbutton" onclick="thirteenYearsOld()">When You Were Thirteen</button>
  <button class="yearbutton" onclick="fourteenYearsOld()">When You Were Fourteen</button>
  <button class="yearbutton" onclick="fourteenYearsOld()">Whatever Age You Like</button>



  <nav class="navbar-search">
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>
</nav>




<div id="cardgrid" class="container">
  <div class="grid-row">
    <div *ngFor="let result of this.response">
      <div class="gamecard">
        <mat-card class="game-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{result.name}}</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src={{result.background_image}} alt="header image">
          <mat-card-content>
            <div>
              <div class="leftcolumn">
                Release date:
              </div>
              <div class="rightcolumn">
                {{result.released}}
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <div>
              <button mat-button>MY FAVES</button>
              <button mat-button>WISHLIST</button>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>