

  .gamecard{
    background-color: pink;
    border-radius: 25px;
    border-color: palevioletred;
    border-style: solid;
    width: 350px;
    height: 400px;
    box-shadow: 10px 10px grey;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    opacity: 0.5;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.gamecard:hover {
    width: 375px;
    height:450px;
    box-shadow: 0px 0px 60px 30px palevioletred;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    opacity: 1.0;
}

.mat-card-image{
    height: 200px;
}

.mat-card-title{
    white-space: nowrap;
}

.leftcolumn{
    float: left;
}

.rightcolumn{
    float: right;
}

.container {
    max-width: 1980px;
}
  .grid-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}