<nav class="navbar navbar-light bg-light">
    <button class="agebuttons" (click)="changeAge(this.birthyear + 10)">When You Were Ten</button>
    <button class="agebuttons" (click)="changeAge(this.birthyear + 11)">When You Were Eleven</button>
    <button class="agebuttons" (click)="changeAge(this.birthyear + 12)">When You Were Twelve</button>
    <button class="agebuttons" (click)="changeAge(this.birthyear + 13)">When You Were Thirteen</button>
    <button class="agebuttons" (click)="changeAge(this.birthyear + 14)">When You Were Fourteen</button>
</nav>

<div id="cardgrid" class="container">
    <div class="grid-row">
      <div *ngFor="let game of games">
        
        <div class="gamecard">
          <mat-card class="game-card">
            <mat-card-header>
              <mat-card-title>{{game.name}}</mat-card-title>
              <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <button class="btn btn-link" (click)="open(game.id)">
            <img mat-card-image src={{game.background_image}} alt="header image">
          </button>
            <mat-card-content>
              <div class="releasedate">
                <div class="leftcolumn">
                  Release date:
                </div>
                <div class="rightcolumn">
                  {{game.released}}
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
