.agebuttons {
    padding: 5px 10px;
    font-size: x-large;
    font-weight: bolder;
    color: plum;
    text-decoration: none;
    display: inline-block;
    background-image: #eee;
    border-radius: 8px;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    border: 0;
    background: none;
    box-shadow: none;
  }

.agebuttons:visited, a:link {
    color: #334953;
  }

.agebuttons:hover {
  background-image: url("https://github.com/rond556/RosyGamingGlassesFrontEnd/blob/dev/src/assets/Hearts%20falling.gif?raw=true");
  color: palevioletred;
  text-shadow:10px 10px 30px plum;
  box-shadow: 0px 0px 60px 30px palevioletred;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  }

.gamecard{
    background-color: pink;
    border-radius: 25px;
    border-color: palevioletred;
    border-style: solid;
    width: 350px;
    height: 400px;
    box-shadow: 10px 10px grey;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    opacity: 0.5;
    justify-content: space-between;
    margin-top: 5px;
    margin-left: 5px;
}

.gamecard:hover {
    width:355px;
    box-shadow: 0px 0px 60px 30px palevioletred;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    opacity: 1.0;
}

.mat-card-image{
    height: 200px;
}

.mat-card-title{
    justify-content: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container {
    max-width: 1980px;
}
  .grid-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}