<p><img src="http://www.videogamesprites.net/FinalFantasy6/Party/Terra/Terra%20-%20Finger.gif">
elevenyearsold works!
<img src="http://www.videogamesprites.net/FinalFantasy6/Party/Terra/Terra%20-%20Finger.gif">
</p>

<div class="gamecard">
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Chrono Trigger</mat-card-title>
      <mat-card-subtitle>Square Enix</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://i.ytimg.com/vi/hdWTrxJo28M/maxresdefault.jpg" alt="Chrono Trigger image">
    <mat-card-actions>
      <button mat-button>MY FAVES</button>
      <button mat-button>WISHLIST</button>
    </mat-card-actions>
  </mat-card>
</div>