<p><img src="http://www.videogamesprites.net/FinalFantasy6/Party/Terra/Terra%20-%20Finger.gif">
elevenyearsold works!
<img src="http://www.videogamesprites.net/FinalFantasy6/Party/Terra/Terra%20-%20Finger.gif">
</p>

<div class="gamecard">
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Chrono Trigger</mat-card-title>
      <mat-card-subtitle>Square Enix - RPG</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://i.ytimg.com/vi/hdWTrxJo28M/maxresdefault.jpg" alt="Chrono Trigger image">
    <mat-card-content>
      <div>
        <div class="leftcolumn">
          Release date:
        </div>
        <div class="rightcolumn">
          March 11, 1995
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div>
      <button mat-button>MY FAVES</button>
      <button mat-button>WISHLIST</button>
    </div>
    </mat-card-actions>
  </mat-card>
</div>

<div class="gamecard">
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Mega Man Legends</mat-card-title>
    <mat-card-subtitle>Capcom - Action</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="http://1.bp.blogspot.com/-B_m1qGpwSlA/Vg2ujT6NCiI/AAAAAAAAUNA/831L89Xkwj0/s1600/Screen%2Bshot%2B2015-10-01%2Bat%2B5.06.39%2BPM.png" alt="Mega Man Legends image">
  <mat-card-content>
    <div>
      <div class="leftcolumn">
        Release date:
      </div>
      <div class="rightcolumn">
        December 18, 1997
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div>
    <button mat-button>MY FAVES</button>
    <button mat-button>WISHLIST</button>
  </div>
  </mat-card-actions>
</mat-card>
</div>

<div class="gamecard">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Alundra</mat-card-title>
      <mat-card-subtitle>Sony - Action, RPG, Puzzle</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://images.launchbox-app.com/0ee20cc4-e1bc-4b1e-b13d-b28719d7df38.jpg" alt="Alundra image">
    <mat-card-content>
      <div>
        <div class="leftcolumn">
          Release date:
        </div>
        <div class="rightcolumn">
          April 11, 1997
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div>
      <button mat-button>MY FAVES</button>
      <button mat-button>WISHLIST</button>
    </div>
    </mat-card-actions>
  </mat-card>
  </div>