<div class="gamecard">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{gamecard.title}}</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src={{gamecard.image}} alt="header image">
        <mat-card-content>
          <div>
            <div class="leftcolumn">
              Release date: 
            </div>
            <div class="rightcolumn">
              {{gamecard.releasedate}}
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div>
          <button mat-button>MY FAVES</button>
          <button mat-button>WISHLIST</button>
        </div>
        </mat-card-actions>
      </mat-card>
    </div>