<div class="gamecard">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Chrono Trigger</mat-card-title>
          <mat-card-subtitle>Square Enix - RPG</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://i.ytimg.com/vi/hdWTrxJo28M/maxresdefault.jpg" alt="Chrono Trigger image">
        <mat-card-content>
          <div>
            <div class="leftcolumn">
              Release date:
            </div>
            <div class="rightcolumn">
              March 11, 1995
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div>
          <button mat-button>MY FAVES</button>
          <button mat-button>WISHLIST</button>
        </div>
        </mat-card-actions>
      </mat-card>
    </div>