<a routerLink="/game-display">
    <img class="gamedisplay button"
      src="http://www.videogamesprites.net/FinalFantasy6/Party/Mog/Mog%20-%20Victory%20(Front).gif">
  
  Click here to see your games
  <img class="gamedisplay button"
      src="http://www.videogamesprites.net/FinalFantasy6/Party/Mog/Mog%20-%20Victory%20(Front).gif">
</a>

    <div>
      <button (click)="logout()">
        Click here to log out!
      </button>
    <img  src="http://www.videogamesprites.net/FinalFantasy6/Party/Locke/Locke%20-%20Wave%20(Front).gif">
  </div>