#homebox{
    width: 500px;
    margin-top: 10%;
    border-style: solid;
    border-color: palevioletred;
    background-color: pink;
    border-radius: 25px;
    align-items: center;
}

h2{
    color: white;
    font-weight: bolder;
    text-align: center;
}